@import '../../../node_modules/react-grid-layout/css/styles.css';
@import '../../../node_modules/react-resizable/css/styles.css';
@import 'typography';
@import 'helper';
@import 'reactGrid';
@import 'nav';
@import 'chapter_nav';

@import 'buttons';

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}



body{
  background: rgba(35, 40, 45, 1.00);
  font-family: helvetica;
  font-weight: 200;
    color:RGBA(241, 241, 241, 1.00);
}

#root{
  //position: absolute;
  //width: 100%;
//  height: 100%;

}

main {
    display: block;
    height: 100vh;
    overflow: hidden;
    position: ABSOLUTE;
    width: 100%;
    padding: 20px;
}

#content {
    max-height: 100%;
  //  border: 1px solid rgba(100,100,100,0.2);
    background: rgba(0,59,100,0.1);
    overflow: hidden;
    overflow-y: scroll;
    padding: 0px;
    width: 100;
}

.main_section{
    padding: 20px;
    margin: 10px 0;
}

.low_pres {
  background: rgba(250,250,250,0.3);
  color: RGBA(33, 37, 43, 1.00);
}

.high_pres {
  color: rgba(250,250,250,0.8);
  background: RGBA(33, 37, 43, 1.00);
}

#stats{
  width: 80px;
  opacity: 0.9;
  cursor: pointer;
  position: absolute;
  left:inherit!important;
  top:inherit!important;
  right: 10px !important;
  bottom: 10px !important;
  z-index: 100;
}



.test_area{
  background: rgba(200,200,200,0.04);
  height: 100%;
  min-height: 600px;
  width: 100%;
}
.media_screen{
  max-width: 100%;
  height: initial;
  margin: 0 auto;
  display: block;
}
