@import '../../../node_modules/react-grid-layout/css/styles.css';
@import '../../../node_modules/react-resizable/css/styles.css';
@import 'typography';
@import 'helper';
@import 'reactGrid';
@import 'nav';
@import 'chapter_nav';

@import 'buttons';

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}



body{
  background: #485563; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(left, #485563, #29323c);
background: -o-linear-gradient(left, #485563, #29323c);
background: linear-gradient(to right, #485563, #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: helvetica;
  font-weight: 200;
  color:RGBA(241, 241, 241, 1.00);
}

#root{
  //position: absolute;
  //width: 100%;
//  height: 100%;

}

main {

}

#content {
    max-height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    padding: 0px;
    width: 100%;
  }

.head{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 800px;
  margin: 0 auto;
  color:silver;
}

.sub_head{
  h4{
    margin: 0;
  }
}

section{
    padding: 20px;
    margin: 0  0 10px;
}
#info_bar {
  width: 100%;
  float: left;
  background: rgba(20, 160, 200, 0.8);

  .data_wrap{
    color:white;
    float: right;
    margin: 5px;
    padding: 0 ;
    h5{
      font-size: 12px;
    }
    .label{
          font-size: 13px;
          background: none;
    }
  }
}
.main_section{
    display: inline-block;
    position: relative;
    float: left;
    height: 100%;
    width: calc(100% + 200px);
    padding: 0;
    margin: 0;
    border-top-right-radius: 1000px;
    border-right: 200px solid rgba(0,140,140,0.2);background: none;

}


.low_pres {
  background: rgba(250,250,250,0.3);
  color: RGBA(33, 37, 43, 1.00);
}

.high_pres {
  color: rgba(250,250,250,0.8);
  background: RGBA(33, 37, 43, 1.00);
}

.title{
  padding: 0 20px;
}
.snooz {
    height: 0px;
    padding: 0;
    h1{
      float: right;
      margin-top: -40px;
      color: white;
      font-size: 13px;
      padding: 0 30px;
      opacity: 0.6;
    }
    h3{
      display: none;
    }
}

#stats{
  width: 80px;
  opacity: 0.9;
  cursor: pointer;
  position: absolute;
  left:inherit!important;
  top:inherit!important;
  right: 10px !important;
  bottom: 10px !important;
  z-index: 100;
}

.inner_wrap{
      padding: 0;
      border-top-right-radius: 600px;
      overflow: hidden;
      width: 85%;
      margin: 0 auto;
      /* float: left; */
      clear: both;
      width: 100%;
      padding: 0px 20px 20px;
      padding-right: 20;
      background: rgba(250,250,250,0.2);

}

.test_area{
  background: RGBA(35, 40, 45, 0.6);
  min-height: 100px;
  width: 100%;
  float: left;
  margin: 0 auto;
  display: inline;
}
.media_screen{
  max-width: 100%;
  height: initial;
  margin: 0 auto;
  display: block;
}
