nav {

  right: 0;
  padding-top: 10px;
  //background: #23282D;
  width: 800px;
      margin: 0 auto;

  button.btn {
    background: none;
    border: none;
    /* width: 59%; */
    /* background: tomato; */
    /* height: 200px; */
    /* margin-bottom: -200px; */
    //border-bottom-right-radius: 4000px;
  //  border: 20px solid;
    /* border-bottom-color: tomato; */
    //margin-bottom: -50px;
    .icon {
      font-size: 30px;

      .icon-menu {
        stroke: white;
            fill: #23282d;
      }
    }
  }
  .collapse.in {
      display: inline-block;
    left: 0;

  //  position: absolute;
    width: 100%;
    left: 0;
    top: 50px;
    /* z-index: 10007; */

    z-index: 1001;
}
  ul {
    list-style: none;
    padding: 0;
    list-style: none;
    padding: 0;
    height: auto;
    display: inline-block;
    position: relative;
    width: 100%;
    li {
      width: 50%;
      MARGIN: 0;
      padding: 0 10px;
      float: left;
      a {
        color: #1b78b3;
      text-decoration: none;
      color: silver;
      font-size: 16px;
      background: #23282d;
      text-transform: uppercase;
      /* transform: rotate(-10deg); */
      /* width: 100px; */
      width: 100%;
     text-align: center;
     /* margin: 20% AUTO; */
     text-align: left;
     float: left;
     padding: 70px 0;
     text-align: center;


      }
    }
    .w_50{
      width: 50%;
      MARGIN: 0;
      /* border: 1px solid; */
      padding: 0 10px;
    }
  }
}

nav.sub_nav {
  float: left;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 0;
  background: #23282D;
  background: RGBA(35, 240, 245, 0.6);
  button {
    border: 0;
    margin: 10px 5px;
    border-radius: 0;
    color: rgba(120,190,200,.8);
    padding: 20px 10px;
    margin: 0;
    background: none;
    float: right;
    font-size: 13px;
    color: white;

  }

  button.active {
    background: rgba(20,160,200,0.8);
    color: rgba(250,250,250,0.8);
    float: left;
    font-size: 14px;
    color: white;
  }
}

nav.sub_nav.default{
  float: left;
      position: relative;
      width: 100%;
      text-align: center;
      padding: 10px 0;
      background: none;
      margin-top: -20px;
      button{
        border: 0;
        margin: 10px 5px;
        border-radius: 0;
        color: rgba(120,190,200,.8);
        padding: 20px;
        margin: 0;
        background: none;
        float: left;
        font-size: 13px;
        /* margin-top: -60px; */
        width: 100px;
      }
      button.active {
        /* background: rgba(20,160,200,.8); */
  color: hsla(0,0%,98%,.8);
  float: left;
  font-size: 16px;
  color: #fff;
  /* font-weight: 600; */
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-left: 20px;
  opacity: 0.7;
      }
}
