nav{

  display: inline-block;
     float: left;
     top: 0px;
     position: fixed;
     right: 0;
     //height: 100%;
     text-align: right;
     padding-right: 15px;
     background: #23282D;
     z-index: 101;
     padding-top: 20px;
     padding-left: 10px;
      button.btn{
            background: none;
            border:none;
            .icon{
                  font-size: 30px;
                  .icon-menu{
                    stroke: white;
                    fill: white;
                  }
            }

      }

  ul{
    list-style: none;
    padding: 0;
    li{
      a{
        color: #1B78B3;
text-decoration: none;
color: silver;
font-size: 11px;
text-transform: uppercase;
      }
    }
  }
}
